<main>
  <img class="responsive-img" src="assets/img/panel.jpg">
  <div class="container containers">
    <ul class="collection">
      {{#each articles.data}}
        <li class="collection-item avatar">
          <img class="responsive-img" src="{{this.image}}" alt="">
          <div class="collection-text">
            <a href="{{this.url}}" target="_blank"><span class="title">{{this.headline}}</span></a>
            <p>{{this.summary}}<br>
            <span class="collection-byline">{{this.byline}}</span><br>
            <span class="collection-date">{{dateFormat this.date "dateOnly"}}</span>
            </p>
          </div>
          {{#if this.saved}}
            <div class="fixed-action-btn horizontal secondary-content">
              <a class="btn-floating blue">
                <i class="large material-icons" title="Options">menu</i>
              </a>
              <ul>
                <li><a href="/removed/{{this._id}}" class="btn-floating red"><i class="material-icons" title="Delete article">remove</i></a></li>
                <li><a href="#add-comment-modal" class="btn-floating green modal-trigger" title="Add comment"><i class="material-icons" data-id="{{this._id}}">create</i></a></li>
                <li><a href="#comments-modal-{{this._id}}" class="btn-floating yellow darken-2 modal-trigger" title="View comments"><i class="material-icons">visibility</i></a></li>
              </ul>
            </div>
          {{/if}}
          {{#unless this.saved}}
            <a href="/saved/{{this._id}}" class="btn btn-floating waves-effect waves-light green secondary-content"><i class="material-icons" title="Add article">add</i></a>
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  </div>
</main>
